<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Formato de salida en consola -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Reducir verbosidad de Selenium -->
    <logger name="org.openqa.selenium" level="INFO"/>

    <!-- Tu código: mostrar todo incluyendo DEBUG -->
    <logger name="com.cesar.qa" level="DEBUG"/>

    <!-- Nivel por defecto -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>